<a href="https://colab.research.google.com/github/froggyroot/2024bootcamp/blob/main/1%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2024-07-08
# 1주차

# 학습 목표 : 튜플, 리스트, 딕셔너리 이해
# 학습 목표 : 반복문, MY SQL 데이터 불러오기

In [27]:
# list 타입을 변수 초기화 하고 싶을 때 + 빈 깡통 리스트 생성
list1 = []

# 리스트 갯수 확인
list2=[1,2,3,4,5,1,3]
print(len(list2))

7

In [28]:
# 리스트 타입은 수정이 가능

print(list2[3]) # 4라고 뜸

# 리스트 변경
list2[3] = 7
print(list2[3])

# 리스트 추가(맨 끝에다 증가,증가, 증가) append
list2.append(100)
print(list2)

# 리스트 삽입(중간 중간에 삽입 가능.) insert [낑겨넣을 위치랑 값 2개를 매개변수로 받음]
list2.insert(0,666)
print(list2)

#github에 저장

4
7
[1, 2, 3, 7, 5, 1, 3, 100]
[666, 1, 2, 3, 7, 5, 1, 3, 100]

In [34]:
# 반복문 (for, while)

# while 조건 :
# 조건이 참일 동안만 " : " 밑 문장이 돌아감
# i 가 탈출할 수 있게 (코드 추가)
i=0
while i < 9 :
  print('sonny')
  i = i+1


# for : 반복 실행 . (횟수)
# for i in [1,2,3,4,5] :
# for i in range (1,10,1) 순서대로 "초기값, 끝값, 증가값"
# => 이 말은 1부터 10까지 증가량 1씩 리스트 만들기

print('nice one sonny')

sonny
sonny
sonny
sonny
sonny
sonny
sonny
sonny
sonny
nice one sonny

In [42]:
# while문과 if문 중첩 사용
# 1.보관 식재료 출력 2.식재료 추가 3.식재료 삭제 5.종료

food = []
menu =()

while menu != 5:
  print('1.보관 식재료 출력 2. 식재료 추가 3. 식제료 삭제 4. 종료')
  menu = int(input('관리 메뉴를 선택하세요'))

  if menu == 2:
    name_menu = input('식재료를 입력하세요')
    food.append(name_menu)
    print(food)

  if menu == 5:
    break

1.보관 식재료 출력 2. 식재료 추가 3. 식제료 삭제 4. 종료
관리 메뉴를 선택하세요2
식재료를 입력하세요망고
['망고']
1.보관 식재료 출력 2. 식재료 추가 3. 식제료 삭제 4. 종료
관리 메뉴를 선택하세요2
식재료를 입력하세요바나나
['망고', '바나나']
1.보관 식재료 출력 2. 식재료 추가 3. 식제료 삭제 4. 종료
관리 메뉴를 선택하세요5

In [ ]:
# MY SQL

# 데이터 가져오기
# select, from, where

# where절에 아무것도 안 쓰면 다 가져오고 & 조건 적으면 조건
# 문장 끝에는 " ; " 세미콜론 사용

# ex) select 고객번호, 주소, 전화번호  [가져올 내용]
#     from 고객 [가져올 내용이 담긴 목록 이름]
#     ; [문장 끝을 선언]

# select 고객번호, 주소, 전화번호
# from 고객
# where 주소 like '송파%'  [주소에서 송파가 들어간 걸 모두 뽑아줌.]
# ;

In [ ]:
# "order by"는 제일 마지막에 사용해야 함.
# group by [데이터 쪼개고 합산]
# order by [데이터 정렬]